*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left , rgb(129, 201, 214) , rgb(141, 206, 186));
    
}
.inner-box{
    width: 400px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px 40px;
}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;

}
.signup-header p{
    font-size: 0.8rem;
    color: #555;
    margin-top: 10px;
}